<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cookienotice" translate="label" sortOrder="20" showInDefault="1" 
            showInWebsite="1" showInStore="1">
            <label>Cookie Notice</label>
            <tab>dss</tab>
            <resource>Dss_CookieNotice::cookienotice</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" 
                showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment><![CDATA[Version 0.0.1]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hide_msg" translate="label" type="text" sortOrder="2" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Auto Hide Message (seconds)</label>
                    <comment><![CDATA[Value must be greater than 0, leave blank will turn off auto hide.]]></comment>
                    <validate>validate-greater-than-zero</validate>
                </field>
                <field id="position" translate="label" type="select" sortOrder="3" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <source_model>Dss\CookieNotice\Model\Config\Source\Position</source_model>
                </field>
            </group>
            <group id="notice_message" translate="label" type="text" sortOrder="2" showInDefault="1" 
                showInWebsite="1" showInStore="1">
                <label>Notice Message</label>
                <field id="msg_title" translate="label" type="text" sortOrder="1" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Message Title</label>
                </field>
                <field id="color_title" translate="label" type="text" sortOrder="2" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Title Text Color</label>
                    <frontend_model>Dss\Core\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
                <field id="msg_content" translate="label comment" type="textarea" sortOrder="3" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>
                    <![CDATA[This config allows editing a message to offer visitors your website cookie information.]]>
                    </comment>
                </field>
                <field id="color_content" translate="label" type="text" sortOrder="4" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Message Text Color</label>
                    <frontend_model>Dss\Core\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
                <field id="color_bg" translate="label" type="text" sortOrder="5" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Dss\Core\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
            </group>
            <group id="btn_accept" translate="label" type="text" sortOrder="3" showInDefault="1" 
                showInWebsite="1" showInStore="1">
                <label>Acceptance Button</label>
                <field id="text_btn_accept" translate="label" type="text" sortOrder="1" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Text</label>
                </field>
                <field id="color_btn_accept" translate="label" type="text" sortOrder="2" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Text Color</label>
                    <frontend_model>Dss\Core\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
                <field id="color_bg_btn_accept" translate="label" type="text" sortOrder="3" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Dss\Core\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
            </group>
            <group id="btn_more_infor" translate="label" type="text" sortOrder="4" showInDefault="1" 
                showInWebsite="1" showInStore="1">
                <label>More Information Button</label>
                <field id="text_btn_more_infor" translate="label" type="text" sortOrder="1" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Text</label>
                </field>
                <field id="color_btn_more_infor" translate="label" type="text" sortOrder="2" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Text Color</label>
                    <frontend_model>Dss\Core\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
                <field id="color_bg_btn_more_infor" translate="label" type="text" sortOrder="3" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Dss\Core\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
                <field id="cms_page" translate="label comment" type="select" sortOrder="4" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Page</label>
                    <comment><![CDATA[The selected page will be interlinked with the more information button.]]>
                    </comment>
                    <source_model>Dss\CookieNotice\Model\Config\Source\Page</source_model>
                </field>
            </group>
            <group id="custom_style" translate="label" type="text" sortOrder="5" showInDefault="1" 
                showInWebsite="1" showInStore="1">
                <label>Custom Style</label>
                <field id="custom_css" translate="label" type="textarea" sortOrder="1" showInDefault="1" 
                    showInWebsite="1" showInStore="1">
                    <label>Custom Css</label>
                </field>
            </group>
        </section>
    </system>
</config>